.hero-container {
	position: relative;

	.hero-title {
		// position: absolute;
		// bottom: -80%;
		// left: 0;
		background: $white;
		padding: 0 1em 0;

		&__title {
			margin: 0;
			font-size: 1.2em;
		}

		&__author {
			font-size: 0.8em;
		}
	}
}

@media (min-width: 786px) {
	.hero-container {
		height: 60vh;

		.hero-title {
			position: absolute;
			bottom: 0;
			padding: 20px 20px 20px 0;
			width: 50vw;
			font-size: 1.2em;
			display: grid;
			grid-template-columns: 1fr minmax(auto, 585px);

			&__author {
				grid-column-start: 2;
			}

			&__title {
				grid-column-start: 2;
			}
		}

		picture {
			height: 100%;
			display: block;

			img {
				width: 100%;
				max-height: 100%;
				object-fit: cover;
			}
		}
	}
}
