.logo {
	display: flex;
	align-items: baseline;
	justify-content: center;
	padding: 10px 0;

	&__dot {
		height: 14px;
		width: 14px;
		background: $blue;
		border-radius: 50%;
	}

	&__big {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 3em;
	}

	&__small {
		font-weight: 100;
		font-size: 1.5em;
	}
}
