@media (min-width: 786px) {
	.category-page {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 1200px) 1fr;

		.logo {
			display: none;
		}

		.category-page__stories {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-column-start: 2;
			grid-gap: 30px;
		}
	}
}
