.latest-stories__stories {
	// show only first 3 articles on mobile
	.article:nth-child(1n + 4) {
		display: none;
	}
}

@media (min-width: 768px) {
	.main-page .logo {
		display: none;
	}

	.latest-stories__stories {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		grid-column-start: 2;

		.article:nth-child(1n + 4) {
			display: inherit;
		}
	}

	.two-column-section {
		grid-column-start: 2;
		display: grid;
		grid-template-columns: 1fr minmax(auto, 800px) minmax(auto, 400px) 1fr;
		grid-gap: 30px;

		.section:first-child {
			grid-column-start: 2;
			display: block;
		}

		.section:last-child {
			grid-column-start: 3;
			display: block;
		}

		.category__stories {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-start: 2;
			grid-gap: 30px;
		}
	}
}
