.latest-stories__stories {
	// show only first 3 articles on mobile
	.article:nth-child(1n + 4) {
		display: none;
	}
}

@media (min-width: 768px) {
	.main-page .logo {
		display: none;
	}

	.latest-stories__stories {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		grid-column-start: 2;

		.article:nth-child(1n + 4) {
			display: inherit;
		}
	}
}
