.header-links-wrapper {
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .links-list {
        display: flex;
        flex-direction: column;
        text-align: center;

        &__item {
            padding: 10px 0;
        }
    }

    .social-icons-list {
        display: flex;
        justify-content: space-around;
        &__icon {
            padding: 10px 20px;
            font-style: 1.5em;
        }
    }
}