.footer-links-wrapper {
	background: $darkGray;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.links-list {
		display: flex;
		flex-direction: column;
		text-align: center;
		cursor: pointer;

		&__item {
			padding: 10px 0;

			&:hover,
			&:active {
				color: $blue;
			}
		}
	}

	.footer__copyright {
		text-align: center;
		margin: 20px 0;

		&-sign {
			color: $blue;
		}
	}
}

@media(min-width: 786px) {
	.footer-links-wrapper {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 600px) minmax(auto, 600px) 1fr;
		grid-gap: 30px;

		.links-list {
			grid-column-start: 2;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.footer__copyright {
			text-align: right;
		}
	}
}