.article {
	margin-bottom: 2.5em;
	cursor: pointer;

	&:hover {
		.article__title {
			color: $blue;
		}

		.article__image {
			transform: scale(1.2);
		}
	}

	&__image-wrapper {
		height: 250px;
		overflow: hidden;
		margin-bottom: 0.8 em;
	}

	&__image {
		height: 100%;
		object-fit: cover;
		transition: transform 0.4s;
	}

	&__title {
		font-weight: 600;
		font-size: 1em;
		line-height: 1.3em;
	}
}
