.hamburger-menu {
	font-size: 1.5em;
	position: absolute;
	padding: 10px 20px;
	right: 0;
	cursor: pointer;

	&:hover {
		color: $blue;
	}

	&--open {
		color: $white;
	}
}

.header-nav-wrapper {
	flex-direction: column-reverse;
	color: $lightGray;

	&.mobile-closed {
		display: none;
	}

	.logo {
		display: none;
		color: $black;
	}
}

@media (min-width: 768px) {
	.hamburger-menu {
		display: none;
	}

	.header-nav-wrapper {
		flex-direction: column;
		display: flex;

		&.mobile-closed {
			display: block;
		}

		.logo {
			display: inherit;
			display: flex;
			justify-content: center;
			margin: 10px 0;
		}
	}
}
