.header-nav-wrapper {
	display: none;
	flex-direction: column-reverse;
	color: $lightGray;

	.logo {
		display: none;
		color: $black;
	}
}

@media (min-width: 768px) {
	.header-nav-wrapper {
		flex-direction: column;
		display: flex;

		.logo {
			display: inherit;
		}
	}
}
